//colors

$michelangelo-light-green: #b1f4b2;
$michelangelo-medium-green: #c3f33c;
$michelangelo-dark-green: #62c911;
$michelangelo-darker-green: #56ae15;
$michelangelo-black: #040d14;
$michelangelo-dark-navy: #040d14;
$michelangelo-gray: #1e2125;
$michelangel-light-gray: #6f787e;
$michelangelo-white: #fefefe;

$michelangelo-input-unfocused: #f5f8fa;
