@import "../styles/fonts.scss";
@import "../styles/colors.scss";
@import "../styles/shadow.scss";

.SplashPage {
  .lead_content {
    background: $overcast-navy;
    border-bottom: 1px solid black;
    min-height: 650px;

    .lead {
      text-align: center;

      .twitter_header_photo {
        width: 100%;
      }
    }

    h1 {
      font-weight: $michelangelo-normal-weight;
      font-family: $michelangelo-font-family;
      font-size: $michelangelo-h1-size;
    }
    .subtitle {
      font-weight: $michelangelo-normal-weight;
      font-family: $michelangelo-font-family;
      font-size: $michelangelo-large-subtitle-size;
      .peter_name {
        font-weight: $michelangelo-lightish-weight;
        color: $michelangelo-white;
      }
      .colin_name {
        font-weight: $michelangelo-lightish-weight;
        color: $michelangelo-white;
      }
    }
  }
  .features_content {
    padding: 20px;
    min-height: 555px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .features_content_header_container {
      width: 100%;

      .features_content_header {
        margin: 15px 9px;
        font-family: $michelangelo-font-family;
        font-weight: $michelangelo-normal-weight;
        font-size: $michelangelo-label-size;
      }
    }
    .features {
      display: flex;
      margin-bottom: 110px;

      div {
        width: 100%;
        margin: 0 9px;
        h2 {
          font-family: $michelangelo-font-family;
          font-weight: $michelangelo-bold-weight;
          font-size: $michelangelo-description-size;
        }

        p {
          font-family: $michelangelo-font-family;
          font-size: $michelangelo-description-size;
        }
      }
    }
    .episodes_button {
      color: $michelangelo-white;
      font-family: $michelangelo-font-family;
      font-weight: $michelangelo-bold-weight;
      font-size: $michelangelo-description-size;
      text-decoration: none;
      background-color: $overcast-navy;
      padding: 10px 30px;
      border-radius: 20px;
    }
  }
  .footer {
    background: $michelangelo-black;
    padding: 2rem 0;
    text-align: center;
    color: white;
    font-family: $michelangelo-font-family;
  }
}
